---
layout: default
---

<div id="modalDownload" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="page-header"><span class="mega-octicon octicon-cloud-download"></span> Download</h3>
            </div>
            <div class="modal-body slim-dialog">
                <h4 class="page-header">Install latest version with NuGet (recommended)</h4>
                <a href="https://www.nuget.org/packages/TraktApiSharp" target="_blank"><img src="img/nuget-logo.png" alt="NuGet" class="center-block" /></a><br />
                <table align="center" width="100%">
                    <tbody>
                        <tr>
                            <td width="46%" align="center">
                                <pre><code class="csharp"><big>PM&gt; Install-Package TraktApiSharp</big></code></pre>
                            </td>
                            <td width="8%" align="center">
                                <big>or</big>
                            </td>
                            <td width="46%" align="center">
                                <big>Install via VS <a href="https://docs.nuget.org/consume/package-manager-dialog" target="_blank">Package Management</a> window.</big>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h4 class="page-header">Direct Downloads</h4>
                <p>
                    NuGet packages and ZIP files of all released versions:
                    <a class="btn btn-default btn-sm" role="button" href="{{ site.baseurl }}/downloads/" target="_self"><i class="fa fa-file-zip-o"></i> TraktApiSharp</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="text-center">TraktApiSharp</h1>
                <p class="text-center"><small>TraktApiSharp is a .NET library, written in CSharp, which makes it easy to use the <a href="https://trakt.tv" target="_blank">Trakt.tv</a> <a href="http://docs.trakt.apiary.io/" target="_blank">API.</a></small></p>
                <p class="text-center">
                    <a class="btn btn-lg btn-success" role="button" href="#" target="_blank" data-toggle="modal" data-target="#modalDownload"><span class="octicon octicon-cloud-download"></span> Download</a>
                    <a class="btn btn-lg btn-primary" role="button" href="https://github.com/henrikfroehling/TraktApiSharp" target="_blank"><span class="octicon octicon-mark-github"></span> Source Code</a>
                    <a class="btn btn-lg btn-default" role="button" href="{{ site.baseurl | prepend: 'https://henrikfroehling.github.io' }}/feed.xml" target="_blank"><span class="octicon octicon-rss" width="32" height="32"> RSS</span></a>
                </p>
                <p class="text-center">
                    <small>Open Source and free under the <a href="https://github.com/henrikfroehling/TraktApiSharp/blob/master/LICENSE.md" target="_blank"><span class="octicon octicon-law"></span></i> MIT License</a></small>
                </p>
                <p class="text-center small-text">
                {% for download in site.data.downloads %}
                    {% if download.latest_stable %}
                        Latest Version {{ download.version }}
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://henrikfroehling.github.io/TraktApiSharp/" data-text="TraktApiSharp Version {{ download.version }}" data-via="henrikfroehling" data-hashtags="TraktApiSharp">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                        <a href="https://twitter.com/henrikfroehling" class="twitter-follow-button" data-show-count="false">Follow @henrikfroehling</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        {% break %}
                    {% endif %}
                {% endfor %}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h4 class="text-center">Supported Platforms</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p class="text-center">
            {% for platform in site.data.platforms %}
                {{ platform.name }}{% unless forloop.last %} - {% endunless %}
            {% endfor %}
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
    {% for feature in site.data.features limit: 3 %}
        <div class="col-md-4">
            <h4><span class="octicon {{ feature.octicon }}"></span> {{ feature.title }}</h4>
            <p>{{ feature.summary }}</p>
        </div>
    {% endfor %}
    </div>
    <div class="row">
    {% for feature in site.data.features limit: 3 offset: 3 %}
        <div class="col-md-4">
            <h4><span class="octicon {{ feature.octicon }}"></span> {{ feature.title }}</h4>
            <p>{{ feature.summary }}</p>
        </div>
    {% endfor %}
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h4 class="text-center">Examples</h4>
        </div>
    </div>
    {% for example in site.homePageExamples %}
    <br /><div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h5 class="text-center">{{ example.title }}</h5>
            {{ example.content }}
        </div>
    </div>
    {% endfor %}
</div>
