<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <p class="text-center">Copyright &copy; 2016 Henrik Fr&ouml;hling</p>
            </div>
            <!--<div class="col-md-4">
                <p class="text-center"><a href="{{ site.baseurl }}/imprintprivacy/" target="_self">Imprint and Privacy</a></p>
            </div>-->
            <div class="col-md-3">
                <p class="text-center"><a href="https://github.com/henrikfroehling/TraktApiSharp/tree/gh-pages" target="_blank"><span class="octicon octicon-mark-github"></span> Source Code of this webpage</a></p>
            </div>
        </div>
    </div>
</footer>