<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/" target="_self">TraktApiSharp</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-links-collapse">
            <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ site.baseurl }}/downloads/">Downloads</a></li>
            <li><a href="{{ site.baseurl }}/guide/">Guide</a></li>
            <li><a href="{{ site.baseurl }}/examples/">Examples</a></li>
            <li><a href="{{ site.baseurl }}/apidoc/">API Documentation</a></li>
            <li><a href="https://gitter.im/traktapisharp/Lobby" target="_blank">Chat on Gitter</a></li>
            </ul>
        </div>
    </div>
</nav>