<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Henrik Fröhling">
    <meta name="description" content="A .NET wrapper library for the Trakt.tv API.">
    <meta name="keywords" content="TraktApiSharp,Trakt,C#,CSharp,VB,Visual Basic,Sharp,REST,API,.NET,NuGet,Library,Wrapper{% if page.keywords %},{{ page.keywords}}{% endif %}">

    <title>{% if page.title %}{{ page.title}} · {% endif %}TraktApiSharp · A .NET wrapper library for the Trakt.tv API</title>

    {% include css.html %}

  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
    {% include footer.html %}
    {% include js.html %}
  </body>
</html>
