<a name="install"></a><h4><b>Installation</b></h4>
<p>The recommended way to install TraktApiSharp is to use NuGet, but you can also directly link to a <code>TraktApiSharp.dll</code> file or build the library from source code.</p>
<br />

<a name="install-nuget"></a><h5><b>NuGet</b></h5>
<p>Navigate into your project’s directory and install TraktApiSharp with NuGet command line:
<code>Install-Package TraktApiSharp</code><br />
Or open your project / solution in Visual Studio and use the <a href="https://docs.nuget.org/consume/package-manager-dialog" target="_blank">Visual Studio Package Management</a> and search for <code>trakt</code>.</p>
<br />

<a name="install-dll"></a><h5><b>DLL Binaries</b></h5>
<p>If you want to link a <code>TraktApiSharp.dll</code> directly, you'll find the DLL in the <code>Bin</code> directory in the ZIP Archive of any specific version on the <a href="{{ site.baseurl }}/downloads/">Downloads</a> page.
<br /><strong>Note: The DLL file only works with .NET (C# / Visual Basic) projects.</strong></p>
<br />

<a name="install-source"></a><h5><b>Build from Source</b></h5>
<p>The library can only be built inside of Visual Studio. You need at least Visual Studio 2015 with C# 6 support.
The ZIP Archive of any specific version contains the source code of the library or you clone the <a href="https://github.com/henrikfroehling/TraktApiSharp" target="_blank">Github repository</a>.<br /><br />
To actually build the library, open the <code>TraktApiSharp.sln</code> in Visual Studio and build the project <code>TraktApiSharp</code> in the directory <code>Source\Lib</code>.
After the build was successful, you can find the library DLL in the directory <code>Build\Lib\[Debug|Release]</code>.</p>