<a name="modules"></a><h4><b>Modules</b></h4>
<p>The modules in the library represent each a section in the official <a href="http://docs.trakt.apiary.io/" target="_blank">Trakt API documentation</a>.<br />
You can not create a new instance of any module. The only way to access a module is through a <code>TraktClient</code> instance.</p>
<br />

<a name="module-authentication"></a><h5><b>Authentication</b></h5>
<p>This module contains all methods, that are common to both <a href="http://docs.trakt.apiary.io/#reference/authentication-oauth" target="_blank">Trakt API Authentication - OAuth</a>
and <a href="http://docs.trakt.apiary.io/#reference/authentication-devices" target="_blank">Trakt API Authentication - Devices</a> sections,
such as refreshing and revoking the current authorization.<br />
Access this module via <code>TraktClient.Authentication</code>.</p>
<br />

<a name="module-authentication-oauth"></a><h5><b>Authentication - OAuth</b></h5>
<p>This module contains all methods, that are described in the <a href="http://docs.trakt.apiary.io/#reference/authentication-oauth" target="_blank">Trakt API Authentication - OAuth section</a>.<br />
Access this module via <code>TraktClient.OAuth</code>.</p>
<br />

<a name="module-authentication-device"></a><h5><b>Authentication - Devices</b></h5>
<p>This module contains all methods, that are described in the <a href="http://docs.trakt.apiary.io/#reference/authentication-devices" target="_blank">Trakt API Authentication - Devices section</a>.<br />
Access this module via <code>TraktClient.DeviceAuth</code>.</p>
<br />

<a name="module-calendar"></a><h5><b>Calendar</b></h5>
<p>This module contains all methods, that are described in the <a href="http://docs.trakt.apiary.io/#reference/calendars" target="_blank">Trakt API Calendar section</a>.<br />
Access this module via <code>TraktClient.Calendar</code>.</p>
<br />

<a name="module-checkins"></a><h5><b>Checkins</b></h5>
<p>This module contains all methods, that are described in the <a href="http://docs.trakt.apiary.io/#reference/checkin" target="_blank">Trakt API Checkin section</a>.<br />
Access this module via <code>TraktClient.Checkins</code>.</p>
<br />

<a name="module-certifications"></a><h5><b>Certifications</b></h5>
<p>This module contains all methods, that are described in the <a href="http://docs.trakt.apiary.io/#reference/certifications" target="_blank">Trakt API Certifications section</a>.<br />
Access this module via <code>TraktClient.Certifications</code>.</p>
<br />

<a name="module-comments"></a><h5><b>Comments</b></h5>
<p>This module contains all methods, that are described in the <a href="http://docs.trakt.apiary.io/#reference/comments" target="_blank">Trakt API Comments section</a>.<br />
Access this module via <code>TraktClient.Comments</code>.</p>
<br />

<a name="module-genres"></a><h5><b>Genres</b></h5>
<p>This module contains all methods, that are described in the <a href="http://docs.trakt.apiary.io/#reference/genres" target="_blank">Trakt API Genres section</a>.<br />
Access this module via <code>TraktClient.Genres</code>.</p>
<br />

<a name="module-movies"></a><h5><b>Movies</b></h5>
<p>This module contains all methods, that are described in the <a href="http://docs.trakt.apiary.io/#reference/movies" target="_blank">Trakt API Movies section</a>.<br />
Access this module via <code>TraktClient.Movies</code>.</p>
<br />

<a name="module-networks"></a><h5><b>Networks</b></h5>
<p>This module contains all methods, that are described in the <a href="http://docs.trakt.apiary.io/#reference/networks" target="_blank">Trakt API Networks section</a>.<br />
Access this module via <code>TraktClient.Networks</code>.</p>
<br />

<a name="module-people"></a><h5><b>People</b></h5>
<p>This module contains all methods, that are described in the <a href="http://docs.trakt.apiary.io/#reference/people" target="_blank">Trakt API People section</a>.<br />
Access this module via <code>TraktClient.People</code>.</p>
<br />

<a name="module-recommendations"></a><h5><b>Recommendations</b></h5>
<p>This module contains all methods, that are described in the <a href="http://docs.trakt.apiary.io/#reference/recommendations" target="_blank">Trakt API Recommendations section</a>.<br />
Access this module via <code>TraktClient.Recommendations</code>.</p>
<br />

<a name="module-scrobble"></a><h5><b>Scrobble</b></h5>
<p>This module contains all methods, that are described in the <a href="http://docs.trakt.apiary.io/#reference/scrobble" target="_blank">Trakt API Scrobble section</a>.<br />
Access this module via <code>TraktClient.Scrobble</code>.</p>
<br />

<a name="module-search"></a><h5><b>Search</b></h5>
<p>This module contains all methods, that are described in the <a href="http://docs.trakt.apiary.io/#reference/search" target="_blank">Trakt API Search section</a>.<br />
Access this module via <code>TraktClient.Search</code>.</p>
<br />

<a name="module-shows"></a><h5><b>Shows</b></h5>
<p>This module contains all methods, that are described in the <a href="http://docs.trakt.apiary.io/#reference/shows" target="_blank">Trakt API Shows section</a>.<br />
Access this module via <code>TraktClient.Shows</code>.</p>
<br />

<a name="module-seasons"></a><h5><b>Seasons</b></h5>
<p>This module contains all methods, that are described in the <a href="http://docs.trakt.apiary.io/#reference/seasons" target="_blank">Trakt API Seasons section</a>.<br />
Access this module via <code>TraktClient.Seasons</code>.</p>
<br />

<a name="module-episodes"></a><h5><b>Episodes</b></h5>
<p>This module contains all methods, that are described in the <a href="http://docs.trakt.apiary.io/#reference/episodes" target="_blank">Trakt API Episodes section</a>.<br />
Access this module via <code>TraktClient.Episodes</code>.</p>
<br />

<a name="module-sync"></a><h5><b>Sync</b></h5>
<p>This module contains all methods, that are described in the <a href="http://docs.trakt.apiary.io/#reference/sync" target="_blank">Trakt API Sync section</a>.<br />
Access this module via <code>TraktClient.Sync</code>.</p>
<br />

<a name="module-users"></a><h5><b>Users</b></h5>
<p>This module contains all methods, that are described in the <a href="http://docs.trakt.apiary.io/#reference/users" target="_blank">Trakt API Users section</a>.<br />
Access this module via <code>TraktClient.Users</code>.</p>
<br />