<a name="services"></a><h4><b>Services</b></h4>
<p>The library contains some services which could be helpful additionally.</p>
<br />

<a name="service-serialization"></a><h5><b>Serialization Service</b></h5>
<p>The <code>TraktSerializationService</code> provides methods for serializing and deserializing <code>TraktApiSharp</code> objects.<br />
Objects will be serialized as a JSON string.<br />
<strong>Note: This service supports currently only <code>TraktAuthorization</code>.</strong></p>
<br />

<a name="service-language"></a><h5><b>Language Service</b></h5>
<p>The <code>TraktLanguageService</code> provides methods for looking up the language and country names for language codes, that are returned by the Trakt API.</p>
<br />