
<div id="sidebar-menu" class="col-md-2 hidden-xs hidden-sm">
    <h4>Navigation</h4>
    <ul class="main-menu nav nav-sidebar">
        <li><a href="#install">Installation</a></li>
        <ul class="sub-menu">
            <li><a href="#install-nuget">NuGet</a></li>
            <li><a href="#install-dll">DLL Binaries</a></li>
            <li><a href="#install-source">Build from Source</a></li>
        </ul>
        
        <li><a href="#namespaces">Namespaces</a></li>

        <li><a href="#setup">Basic Setup</a></li>
        <li><a href="#config">Configuration</a></li>

        <li><a href="#auth">Authentication</a></li>
        <ul class="sub-menu">
            <li><a href="#auth-token">Authorization</a></li>
            <li><a href="#oauth-auth">OAuth Authentication</a></li>
            <li><a href="#device-auth">Device Authentication</a></li>
            <li><a href="#auth-refresh">Refresh Authentication</a></li>
            <li><a href="#auth-revoke">Revoke Authentication</a></li>
        </ul>

        <li><a href="#async">Async</a></li>
        <li><a href="#exceptions">Exception Handling</a></li>
        <li><a href="#nullables">Null Handling</a></li>

        <li><a href="#modules">Modules</a></li>
        <ul class="sub-menu">
            <li><a href="#module-authentication">Authentication</a></li>
            <li><a href="#module-authentication-oauth">Authentication - OAuth</a></li>
            <li><a href="#module-authentication-device">Authentication - Devices</a></li>
            <li><a href="#module-calendar">Calendar</a></li>
            <li><a href="#module-checkins">Checkins</a></li>
            <li><a href="#module-certifications">Certifications</a></li>
            <li><a href="#module-comments">Comments</a></li>
            <li><a href="#module-genres">Genres</a></li>
            <li><a href="#module-movies">Movies</a></li>
            <li><a href="#module-networks">Networks</a></li>
            <li><a href="#module-people">People</a></li>
            <li><a href="#module-recommendations">Recommendations</a></li>
            <li><a href="#module-scrobble">Scrobble</a></li>
            <li><a href="#module-search">Search</a></li>
            <li><a href="#module-shows">Shows</a></li>
            <li><a href="#module-seasons">Seasons</a></li>
            <li><a href="#module-episodes">Episodes</a></li>
            <li><a href="#module-sync">Sync</a></li>
            <li><a href="#module-users">Users</a></li>
        </ul>

        <li><a href="#params">Request Parameters</a></li>
        <ul class="sub-menu">
            <li><a href="#params-extended">Extended Info</a></li>
            <li><a href="#params-filters">Filters</a></li>
            <li><a href="#params-multiple-ids">Multiple Ids</a></li>
        </ul>

        <li><a href="#services">Services</a></li>
        <ul class="sub-menu">
            <li><a href="#service-serialization">Serialization Service</a></li>
            <li><a href="#service-language">Language Service</a></li>
        </ul>
    </ul>
</div>